2_quiz/engine/__pycache__/*
4_advanced/__pycache__/*
4_advanced/modules/__pycache__/*
00_Playground/*
00_Loops/*
6_more_projects/simple_chat/data
6_more_projects/simple_chat/users/__pycache__
6_more_projects/simple_chat/visual/__pycache__
7_testing/autotest/__pycache__
8_game_controller/games/__pycache__
8_game_controller/utils/__pycache__
8_game_controller/controller.log
8_game_controller/gamehistory.log
.vscode/
X_Storage/
9_CSharp/bin
9_CSharp/obj
dailyplanner.py
classes.py
classessimple.py
abstractclass.py
oregon_start.py
_hooktest/*
req.py
dictionaryex.py
guess_who.py
guess_who.json
tttcontext.json
