2_quiz/engine/__pycache__/*
4_advanced/__pycache__/*
4_advanced/modules/__pycache__/*
00_Playground/*
00_Loops/*
6_DeepProjects/Formula1/DUMPSTER/*
6_DeepProjects/Formula1/data/*
6_DeepProjects/Formula1/f1_data_readers/__pycache__/*
6_DeepProjects/Formula1/f1_functions/__pycache__/*
6_DeepProjects/MenuIFunction/__pycache__/*
6_DeepProjects/multi_command_utils/__pycache__/*
6_DeepProjects/MenuShoppingCart/__pycache__/*
6_DeepProjects/MenuShoppingCart/example.py
6_DeepProjects/MenuShoppingCart/show.py
6_DeepProjects/MenuShoppingCart/add.py
6_DeepProjects/MenuShoppingCart/remove.py
6_DeepProjects/MenuShoppingCart/cartlist.py
6_DeepProjects/MenuShoppingCart/lists/*