2_quiz/engine/__pycache__/*
4_advanced/__pycache__/*
4_advanced/modules/__pycache__/*
00_Playground/*
00_Loops/*
6_deep_projects/Formula1/DUMPSTER/*
6_deep_projects/Formula1/data/*
6_deep_projects/Formula1/f1_data_readers/__pycache__/*
6_deep_projects/Formula1/f1_functions/__pycache__/*
6_deep_projects/MenuIFunction/__pycache__/*
6_deep_projects/multi_command_utils/__pycache__/*
6_deep_projects/MenuShoppingCart/__pycache__/*
6_deep_projects/MenuShoppingCart/example.py
6_deep_projects/MenuShoppingCart/show.py
6_deep_projects/MenuShoppingCart/add.py
6_deep_projects/MenuShoppingCart/remove.py
6_deep_projects/MenuShoppingCart/cartlist.py
6_deep_projects/MenuShoppingCart/lists/*
7_testing/autotest/__pycache__